@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.ttf');
}
@font-face {
    font-family: 'Manrope-400';
    src: url('../fonts/Manrope-Regular.ttf');
}

:root {
    --mainBgColor: #000000;
    --mainTxtColor: #FFFFFF;
}

* {
    font-family: 'Manrope';
    text-decoration: none;
    color: var(--mainTxtColor);
}

html {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.02em;
    background-color: var(--mainBgColor);
}

/*logo central */
.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 293px; mobile first*/
    /*height: 46px;*/
}

img {
    width: 304px;
    /*height: 46px;*/
}

/*h1 fix*/
h1 {
    margin: 0;
}

.podlogo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    text-align: center;
}

.motiv {
    margin-left: auto;
    margin-right: auto;
    width: 271px;
    margin-top: 179px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115.6%;
    letter-spacing: -0.02em;

}

.link {
    text-decoration: none;
    font-family: 'Manrope' !important;
    font-style: normal;

    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin-right: 10px;
    margin-left: 10px;

    height: 19px;
}

.hover {
    display: inline-block;
    position: relative;
    color: var(--mainTxtColor);
}

.hover:after, .hover-spec:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--mainTxtColor);
    transform-origin: bottom left;
    transition: transform 0.20s ease-out;
}

.hover:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-spec, .hover-spec1 {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
    color: var(--mainTxtColor);
}
.hover-spec:after, .hover-spec1:after {
    transform-origin: bottom right;
}
.hover-spec1:after {
    transition-delay: 0.15s;
}

.motiv:hover .hover-spec:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.motiv:hover .hover-spec1:after {
    transition-delay: 0.15s;
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    position: absolute;
    bottom: 41px;

    text-align: center;
    width: 100%;
    font-family: 'Manrope-400' !important;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
}
/*
* Za spreminjanje vidnosti uporabljam visually-hidden, da besedilo ostane vidno website crawlarjem
*/


/* ==========================================================================
  Useful classes
   ========================================================================== */
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  /* 1 */
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #808080;
    text-shadow: none;
}

::selection {
    background: #808080;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
 */
/* ==========================================================================
  Media Queries for Responsive Design.
   ==========================================================================
*/
@media only screen and (min-width: 500px) {
    img {
        width: 485px;
        /*height: 70px;*/
    }
    .logo {
       /* width: auto;*/
        /*height: 70px;*/
    }
    .link {
        font-size: 20px;
        line-height: 25px;
        margin-right: 15px;
        margin-left: 15px;
        height: 25px;
    }

    .motiv {
        margin-left: auto;
        margin-right: auto;
        width: 555px;
        margin-top: 179px;
        font-style: normal;
        font-weight: 400;
        font-size: 41px;
        line-height: 115.6%;
        letter-spacing: -0.02em;

       /* top:179px;
        /*left: 50%;
        transform: translate(-50%, -50%);*/

    }
    footer {
        font-size: 14px;
        line-height: 19px;
    }
}

@media only screen and (min-width: 820px) {
    .logo {
        width: 726px;
        /*height: 115px;*/
    }
    img {
        width: 726px;
        /*height: 115px;*/
    }
    .link {
        font-size: 24px;
        line-height: 33px;
        margin-right: 27px;
        margin-left: 27px;
        height: 33px;
    }
}
