@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-SemiBold.ttf');
}
@font-face {
    font-family: 'Manrope-400';
    src: url('../fonts/Manrope-Regular.ttf');
}
@font-face {
    font-family: 'Manrope-500';
    src: url('../fonts/Manrope-Medium.ttf');
}
@font-face {
    font-family: 'Soleil-400';
    src: url('../fonts/SoleilRegular.otf');
}

:root {
    --mainBgColor: #000000;
    --mainTxtColor: #000000;
    --secTxtColor: #FFFFFF;
}

* {
    text-decoration: none;
    color: var(--mainTxtColor);
}

html {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
}

html, body {
    height: 100%;
  }

.logo {
    width: 200px;
    height: 32px;
    display: inline-block;
    position: relative;
    left: 40px;
    height: auto;
}

/*h1 fix*/
h1 {
    margin: 0;

}
.navbar {
    background-color: transparent;
    color: var(--mainTxtColor);
    text-transform: uppercase;
    padding: 0;
    display: flex;
}
.navbar1 {
    padding: 0;
    position: relative;
    margin-right: 188px;
    text-align: right;
    background-color: transparent;
    color: var(--secTxtColor) !important;

}

.bg-img {
    width: 100%;
    min-height: 100% !important;
    background-position: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: 100% auto;
}

.link {
    text-decoration: none;
    font-family: 'Manrope' !important;
    font-style: normal;

    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin-right: 10px;
    margin-left: 10px;

    height: 19px;
}

.hover {
    display: inline-block;
    position: relative;
    color: var(--secTxtColor) !important;
}

.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    background-color: var(--secTxtColor);
}

.hover:after {
    transition: transform 0.20s ease-out;
    transform-origin: bottom left;
}

.hover:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}


.jumbotron {
    min-height: 700px;
    padding-left: 130px;
    padding-right: 130px;
}

.row {
    padding-top: 120px;
    padding-bottom: 100px;
    min-height: 600px;
}

.notes-img {
    width: 990px;
    height: 600px;
}

footer {
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: white;
    min-height: 200px;
    padding-top: 90px;
}
/*
* Za spreminjanje vidnosti uporabljam visually-hidden, da besedilo ostane vidno website crawlarjem
*/

/* ==========================================================================
  Useful classes
   ========================================================================== */
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  /* 1 */
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #808080;
    text-shadow: none;
}

::selection {
    background: #808080;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
 */
/* ==========================================================================
  Media Queries for Responsive Design.
   ==========================================================================
*/