@font-face {
    font-family: 'Manrope-400';
    src: url('../fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope-500';
    src: url('../fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Manrope-600';
    src: url('../fonts/Manrope-SemiBold.ttf');
}

@font-face {
    font-family: 'Manrope-700';
    src: url('../fonts/Manrope-Bold.ttf');
}

:root {
    --mainBgColor: #000000;
    --mainTxtColor: #000000;
    --secTxtColor: #FFFFFF;
    color-scheme: dark;

}

* {
    text-decoration: none;
}

html {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;
    overflow-x: hidden;
}

/*for paralex to work*/
html,
body {
    height: 100%;
    width: 100vw;
}

.row>* {
    padding-left: 0;

}

.fixed-position {
    overflow: hidden
}

/*KINO KLUB LOGO*/
.logo {
    width: 200px;
    height: 32px;
    display: inline-block;
    position: relative;
    left: 40px;
    height: auto;
}

/*h1 fix*/
h1 {
    margin: 0;
}

/*burger bar from libandrej*/
.zg,
.sp,
.sr {
    width: 40px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    transition: background-color 200ms, transform 300ms;
}

.knof {
    display: none;
    cursor: pointer;
    margin-right: 16px;
    margin-top: 20px;

}

.spremeni {
    background-color: transparent;
}

.spremenia {
    -ms-transform: translate(0px, 10px) rotate(45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, 10px) rotate(45deg);
    /* Safari */
    transform: translate(0px, 10px) rotate(45deg);
}

.spremeniaa {
    -ms-transform: translate(0px, -10px) rotate(-45deg);
    /* IE 9 */
    -webkit-transform: translate(0px, -10px) rotate(-45deg);
    /* Safari */
    transform: translate(0px, -10px) rotate(-45deg);
}

/*display none classes*/
.display-none {
    display: none;
}

.displayNone {
    display: none !important;
}

/*Outter and inner navbar, overwriting some default bootstrap styles*/
.navbar {
    background-color: transparent;
    /* text-transform: lowercase; */
    padding: 0;
    display: flex;
    height: 120px;
}

.navbar1 {
    padding: 0;
    margin-right: 40px;
    text-align: right;
    background-color: transparent;
    color: var(--secTxtColor) !important;
}

/*MAXxMAX main background img, also alternative classes for paralex*/
.bg-img {
    width: 100%;
    min-height: 100% !important;
    background-position: center;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: auto;
}

/*a bit different for generic , height not 100%*/
.bg-img-general {
    height: 820px !important;
    /*height: auto !important;*/
    background-image: url("../img/bg-general.png");
    background-position: center;

}

/* currently not implemented
.search-icon {
    position: relative;
    right: -70px;
    width: 20px;
    height: 20px;
}
*/

.par {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chi {
    text-align: center;

    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 115.6%;
    /* or 69px */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}


/*paralex. navbar is also fixed*/
.navbar-parallax {
    /*background-color: transparent;*/
    width: 100vw;
    z-index: 1;
    /* text-transform: lowercase; */
    display: flex;
    height: 120px;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: auto;
    background-attachment: fixed;
}

.navbar1-parallax {
    padding: 0;
    position: fixed;
    right: 40px;
    text-align: right;
    background-color: transparent;
    color: var(--secTxtColor) !important;
}

.bg-img-parallax {
    width: 100%;
    min-height: 100% !important;
    background-position: center;
    background-color: black;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -0px;
    background-size: auto;
    background-attachment: fixed;
}

/*Navbar links, with fancy hover animation. .hover class can be used on any text with small 
changes to the .hover:after bottom and height depending on text size*/
.link {
    text-decoration: none;
    font-family: 'Manrope-700';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 115.6%;
    /* or 23px */
    letter-spacing: -0.02em;
    margin-right: 12px;
    margin-left: 12px;

    height: 19px;
}

.hover {
    display: inline-block;
    position: relative;
    color: var(--secTxtColor) !important;
}

.hover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    transform-origin: bottom left;
    background-color: var(--secTxtColor);
}

.hover:after {
    transition: transform 0.20s ease-out;
    transform-origin: bottom left;
}

.hover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* next events is for dynamic banner for link with next events */
.next-events {
    color: var(--secTxtColor) !important;
    position: absolute;
    bottom: 45px;
    left: 40px;
}

.next-events p {
    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: -0.02em;
    margin: 0px;
}

.nav-lan {
    margin-left: 40px;
    font-family: 'Manrope';

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115.6%;
    /* or 23px */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}

/*language buttons on main image and mobile menu*/
.mobile-lan a,
.nav-lan a {
    text-decoration: none;
    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115.6%;
    /* or 23px */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.mobile-lan a:hover,
.nav-lan a:hover {
    color: #FFFFFF;
    font-family: 'Manrope-600';
}

.btn-discover {
    width: fit-content;
    height: 90px;
    background: #171616;

    display: block;

    font-family: 'Manrope-400';
    font-style: normal;
    font-size: 40px;
    line-height: 115.6%;
    text-decoration: none;
    letter-spacing: -0.02em;

    color: #F1F1F1;
    padding: 20px 40px;
    border: 1px solid #171616;
    border-radius: 3px;
    transition: 100ms;
}

.r-more {
    width: fit-content;
    height: 64px;
    padding: 10px 31px;
    line-height: 44px;

    font-family: 'Manrope-500';
    font-style: normal;
    font-size: 32px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

.btn-discover:hover {
    text-decoration: none;
    color: #171616;
    background: white;
    border: 1px solid #171616;

}

/*different font weight for chose lan*/
.chosen {
    color: #FFFFFF;
    font-family: 'Manrope-600' !important;
}

/*main/general classes*/
/*jumbotron defines general padding on each page, can be overwritten if needed*/
.jumbotron {
    min-height: 500px;
    padding-left: 195px;
    padding-right: 195px;
    padding-bottom: 145px;
    padding-top: 100px;
}

/*overwriting deafult row styles. This is source of many bugs but i am afraid to temper with this right now*/
.row {
    padding-top: 100px;
    padding-bottom: 120px;
    min-height: 600px;
    margin-left: 0;

}

/*is this even needed?*/
h3 {
    font-family: 'Manrope-700';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
}

h3 a {
    text-decoration: none;
    color: black;
    font-family: 'Manrope-700';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: -0.02em;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h3 a:hover {
    text-decoration: none;
    color: black;
}

.events span {
    font-family: 'Manrope-500';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;

    opacity: 0.7;
}

.jumbotron h4 {
    font-family: 'Manrope-600';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 115.6%;
    margin-bottom: 0;
    /* or 69px */

    letter-spacing: -0.02em;

    color: #000000;
}

.jumbotron h5 {
    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    /* or 69px */

    letter-spacing: -0.02em;

    color: #000000;

    opacity: 0.7;
}


/*configuration menu for notes and stories*/
.config {
    margin-left: 148px;
    margin-right: 40px;
    margin-top: 64px;
    /* border-bottom: 1px solid rgba(0, 0, 0, .6); */
    /* padding-bottom: 45px; */
    text-transform: lowercase;
}

.config span {
    padding-right: 50px;
    border-right: solid 1px rgba(0, 0, 0, .6);
    font-family: 'Manrope-500';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 115.6%;
    /* or 31px */

    letter-spacing: -0.02em;

    color: #000000;

    opacity: 0.6;
}

.conf-meni-item {
    cursor: pointer;
    text-decoration: none;
    margin-left: 50px;

    font-family: 'Manrope-500';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 115.6%;
    /* or 31px */

    letter-spacing: -0.02em;

    color: #000000;
}

.conf-meni-item:hover {
    color: #000000;
    border-bottom: solid 1px;
}

/*active item in the config menu*/
.active {
    color: #000000;
    border-bottom: solid 1px;
}

/*discover more button at the end of notes and events to open up more cards*/
.discover {
    /*width: fit-content;
    padding-left: 20px;*/

    cursor: pointer;
    margin-left: 198px;
    /*margin-bottom: 80px;
    font-family: 'Manrope-600';
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    /* identical to box height */

    letter-spacing: -0.02em;
}

.discover a {
    padding-left: 20px;
    font-family: 'Manrope-600';
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;

}

.discover a:hover {
    color: #535353;
    text-decoration: none;
}


/*Projects style changes*/
.proj-napis {
    font-family: 'Manrope-600';
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.02em;

    color: #000000;

    max-width: 1200px;
    margin-bottom: 0;
}

.project-img {
    object-fit: cover;
    object-position: center;
    height: 600px;
    width: 100%;
}

.project-title {
    margin-left:109px; 
    margin-top:101px;
}

.project-row {
    padding-bottom: 0;
    padding-top: 124px;
}

.proj-more {
    margin-top: 30px;
}

.project-row h4 {
    margin-top: 30px;
    font-family: 'Manrope-600';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #000000;
}

.project-row p {
    margin-top: 30px;
    font-family: 'Manrope-500';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.02em;

    color: #000000;
}

.project-row p {
    padding-right: 30%;
}

/*some general footer style -> now can be combined because everywhere the same footer*/
footer {
    text-align: center;
    width: 100%;
    background-color: #000000;
    color: white;
    min-height: 440px;
    margin-top: 90px;

    font-family: 'Manrope-700';
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.contact {
    /*width: 500px;*/
    float: left;
    /* margin-left: 40px; */
    margin-top: 270px;
    text-align: left;

}

.contact a {
    text-decoration: none !important;
    color: #FFFFFF;
    margin-bottom: 8px;
    display: inline-block;
}

footer a:hover {
    color: #cacaca;
    text-decoration: none;
}

/*
.gen-leg img:hover {
    /*transform: rotate(360deg);
    transition: transform 0.4s ease-out;
    animation: tilt-n-move-shaking 0.15s 2;
}

@keyframes tilt-n-move-shaking {
    0% { transform:  rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform:  rotate(0deg); }
    75% { transform:  rotate(-10deg); }
    100% { transform:  rotate(0deg); }
  }
*/
.gen-leg {
    min-height: 440px;
    padding: 0px;
    width: 100%;
    margin: 0;
    margin-top: 45px;

}

.gen-leg p {
    margin-bottom: 37px;
    font-family: 'Manrope-700';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.gen-leg .contact {
    /*width: 400px;*/
    float: left;
    /* margin-left: 130px; */
    margin-top: 154px;
    text-align: left;

}

.socials {
    margin-top: 154px;
    margin-left: 150px;
    /*min-width: 100px;*/
}

.icons {
    height: 85px;
    width: 100%;
    display: block;
}

.icons a {
    float: left;
}

.socials p {
    font-family: 'Manrope-700';
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.7;

    float: left;
}

.contact {
    /* margin-left: 130px; */
    min-width: 365px;

}

.form input[type=email], .search {
    border-radius: 0;
    /* float: left; */
    width: 460px;
    height: 52px;
    border: 0;
    display: block;
    border-bottom: 2px solid #565656;
    padding-left: 0px;
    box-sizing: border-box;
    background: #FFFFFF;

    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 115.6%;
    /* identical to box height, or 35px */

    letter-spacing: -0.02em;

    color: #000000;

    /* opacity: 0.7; */
    transition: 100ms;
}
.search {
    width: 400px;
    border-bottom: 1px solid #000000;
    font-family: 'Manrope-500';
    font-size: 27px;
}

.search-form, .config {
    display: inline-block;
}
.search-form {
    float: right;
    margin-right: 40px!important;
    margin-top: 45px!important;
}

.form input[type=email]:focus,  .search:focus {
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
}

form {
    margin-top: 55px;
}

.form input[type=submit] {
    border-radius: 0;
    display: block;
    /* float: left; */
    width: 256px;
    height: 86px;
    padding: 0;
    margin-top: 83px;
    background: #FFFFFF;
    border: 1px solid #000000;

    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 115.6%;
    /* or 46px */

    letter-spacing: -0.02em;

    color: #171616;
    border-radius: 3px;
    transition: 100ms;

}

.form input[type=submit]:hover {
    background: black;
    color: white;
}

.gen-leg span {
    font-family: 'Manrope-400';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.02em;
    opacity: 0.7;
    margin-top: 200px;
    position: absolute;
    display: block;
}

/*for mobile a bit different footer so better to have two footers for responsivenes*/
.mobile-footer {
    display: none;
}

/*col-lg at events page fix
.col-lg {
    max-width: 590px;
}*/

/* ==========================================================================
  Useful classes
   ========================================================================== */
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #808080;
    text-shadow: none;
}

::selection {
    background: #808080;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440

 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

.dark {
    background-color: #0d1117;
    color-scheme: dark;
}

/* ==========================================================================
  Media Queries for Responsive Design.
   ==========================================================================
*/
@media only screen and (max-width: 1634px) {
    .more input[type=email] {
        width: 400px;
    }

    .socials {
        padding-right: 0;
    }
}

@media only screen and (max-width: 1150px) {

    .navbar1,
    .navbar1-parallax {
        display: none;
    }

    .jumbotron,
    .events-jumbo {
        padding-left: 70px;
        padding-right: 70px;
    }

    .knof {
        display: inline-block;
        z-index: 4;
        position: fixed;
        top: 0px;
        right: 22px;
        margin-top: 40px;

    }


    .mobile-meni {
        z-index: 2;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #000000;
        height: 100%;
        width: 100%;
        color: white;
        text-align: center;

        padding-top: 141px;
        transition: background-color 0.4s, height 0.5s, padding-top 0.5s;
        overflow: hidden;


    }

    .mobile-meni a,
    .mobile-lan {
        display: block;
        margin-bottom: 24px !important;
        font-family: 'Manrope-700';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        height: auto;
        /* or 32px */
        margin-left: 0;
        /*padding-left: 44px;*/
        letter-spacing: -0.02em;
        transition: 0.3s;
        color: white;
        text-decoration: none;

        /*color: #FFFFFF;*/
    }

    .mobile-lan {
        text-align: center;
        /*position: absolute;*/
        margin-top: 161px;
        bottom: 32px;
        right: 26px;
    }

    .lan {
        display: none !important;
        float: right;
    }

    /*.join {
        text-align: center;
        margin: auto;
        margin-top: 121px!important;
        padding: 0px!important;
    }*/

    .display-none {
        display: inline-block;
        padding-top: 0px;
        height: 0px;
        background-color: transparent;
    }

    .display-none a,
    .display-none .mobile-lan {
        color: transparent !important;
        transition: 0.1s;

    }

}

@media only screen and (max-width: 1300px) {

    /*footer*/
    .desktop-footer {
        display: none !important;
    }

    .mobile-footer {
        display: block;
    }

    .gen-leg {
        /*height: 668px;*/
        width: 100% !important;
        overflow-x: hidden !important;
    }

    /*footer mobile:*/
    .makeSomething {
        font-family: 'Manrope-700' !important;
        font-size: 30px !important;
        line-height: 115.6% !important;
        letter-spacing: -0.02em !important;
        color: #FFFFFF;
        text-align: center;
        margin: 0 !important;
        padding: 0 !important;
        display: block !important;
    }

    .gen-leg hr {
        margin-top: 14px;
        margin-bottom: 14px;
        margin-left: auto;
        margin-right: auto;
        width: 153px;
        height: 1px;
        display: block !important;

        /* border-top: 1px solid #FFFFFF; */
        opacity: 1;
    }

    .gen-leg {
        padding-top: 106px;
    }

    .contact,
    .socials {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 58px !important;
        margin-bottom: 24px !important;

    }

    .contact a,
    .socials a {
        font-family: 'Manrope-600';
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        width: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    .icons {
        display: none;
    }

    .socials p {

        font-family: 'Manrope-400';
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        opacity: 0.7;
        width: 100%;
        margin: 0;

        margin-bottom: 48px !important;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    footer {
        padding-left: 0px !important;
    }

    .btn-discover {
        font-family: 'Manrope-500';
        font-size: 24px;
        line-height: 33px;
        height: fit-content;
        padding: 14px 35px;
    }

    .form input[type=submit] {
        font-family: 'Manrope-500';
        font-size: 24px;
        line-height: 33px;
        height: fit-content;
        width: auto;
        padding: 14px 35px;
    }

    .form {
        padding-bottom: 36px;
        min-height: auto;
    }

    .project-img {
        object-fit: cover;
        object-position: center;
        height: 316px;
        width: 100%;
    }
    .project-title {
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 10px;

        font-size: 30px;
    }
    .proj-napis {

        font-size: 24px;
    }
    .project-row {
        padding-top: 90px;
    }
    .proj-more {
        margin-top: 16px;
    }
    
    .project-row p {
        padding-right: 20px;
    }
    .bg-img-general {
        height: 668px !important;
    }
}


@media only screen and (max-width: 850px) {
    /* .col-lg {
        padding: 0px;
    } */

    .search-form {
        float: none;
        margin-bottom: 50px;
        margin-right: auto!important; 
        display: table;

    }
    .search {
        width: 320px;
    }

    .logo {
        width: 166px;
        left: 23px;

    }

    .knof {
        margin-top: 20px;
        margin-right: 0px;
    }

    .navbar,
    .navbar-parallax {
        height: 76px;
    }

    .next-events {
        left: 23px;

    }

    .next-events p {
        display: none;
    }

    .bg-img-parallax {
        background-size: auto;

    }

    .navbar-parallax {
        background-size: auto;
    }

    .next-events h4 {
        font-size: 22px !important;
        line-height: 30px !important;
    }

    .next-events a {
        display: block;
    }

    .next-events span {
        font-size: 14px !important;
        line-height: 19px !important;
        transform: translate(0px, -7px) !important;
    }

    .next-events img {
        width: 122px;
        height: 30px;
    }

    .bg-img-parallax {
        /*background-position-x: -900px;*/
        background-attachment: scroll;
    }

    /* .navbar-parallax {
       background-position-x: -900px !important;
    }
*/

    .events-jumbo {
        padding-left: 13px;
        padding-right: 13px;
        overflow-x: hidden;
    }

    .discover {
        margin-left: 20px;
        margin-bottom: 63px;
    }

    .discover a {

        font-family: 'Manrope-600';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        /* identical to box height */

        letter-spacing: -0.02em;

        color: #000000;
    }

    #chi {
        font-family: 'Manrope-400';
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        letter-spacing: -0.02em;

        padding-left: 40px;
        padding-right: 40px;
    }

    .jumbotron h4 {
        font-family: 'Manrope-700';
        font-size: 30px;
        line-height: 115.6%;
        letter-spacing: -0.02em;
    }

    .jumbotron h5 {
        font-family: 'Manrope-400';
        font-size: 30px;
        line-height: 115.6%;
        letter-spacing: -0.02em;
        opacity: 0.7;
    }

    .jumbotron {
        padding-top: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h3 a {
        font-family: 'Manrope-600';
        font-size: 24px;
        line-height: 33px;
        letter-spacing: -0.02em;
    }

    h3 {
        line-height: 33px;

    }

    .events span {
        font-family: 'Manrope-500';
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -0.02em;
    }

    .event-div {
        padding-top: 27px !important;
        padding-bottom: 0 !important;
        height: fit-content;
    }

    .events .row {
        min-height: auto;
        padding-bottom: 56px;
    }

    .events {
        padding-bottom: 91px;
    }

    .title {
        height: auto !important;
    }

    .row {
        min-height: auto;
    }
}

@media only screen and (max-width: 335px) {
    .more input[type=email] {
        width: 175px;
        height: 52px;
        padding-left: 14px;
    }

    .form-select {
        width: 270px !important;
    }

}