<!-- footer -->
<footer
	class="row gen-leg justify-content-center">

	<!--mobile addidion-->
	<p class="makeSomething" style="display:none;">postani naš član</p>
	<hr style="display:none;">
	<p class="makeSomething" style="display:none;">naredimo to veliko</p>

	<!---desktop footer-->
	<div class="col-md-3 contact">
		<a href="dogodki">Koledar dogodkov</a><br>
		<a href="projekti">Projekti</a><br>
		<a href="about">O nas</a>
	</div>

	<address class="col-md-3 contact">
		<a target="_blank" href="mailto:info@kinoklub.si">info@kinoklub.si</a><br>
		<a target="_blank" href="tel:+386 68 944 090">(+386) 68 944 090</a><br>
		<a target="_blank" href="https://goo.gl/maps/yB15m8rXYfuwZoox8">Prešernova cesta 52, 4260 Bled</a>
	</address>

	<div class="col-md-2 socials">
		<div class="icons">
			<a target="_blank" href="https://www.instagram.com/kinoklub___/"><img alt="Instagram" src="{{alias('@web') }}/img/Vectorinsta.svg"></a>
			<a target="_blank" href="https://www.facebook.com/kinokluborg/"><img alt="Facebook" style="margin-left: 17px;" src="{{alias('@web') }}/img/Vectorfb.png"></a>
		</div>
		<p>Zavod Aspekt ©2023</p>
	</div>
</footer>

<script src="{{alias('@web') }}/js/script.min.js"></script></body></html>
